#calendar-page {
	background-color: lightpink;
}

.select-date {
	background-color: white;
	height: 60%;
	width: 90%;
	text-align: center;
	border-radius: 100%;
}

.select-date span {
	position: relative;
	top: 19%
}

#datepicker-table-header {
	font-family: 'Karla';
	font-size: 6vw;
	font-weight: 600;
	margin: 0px auto;
	margin-top: 4vh;
}

#datepicker-table-header .select-month {
	text-decoration: underline;
	color:white;
}

.datepicker-header {
	width: 16vw;
}

#datepicker-table-content {
	margin: 0px auto;	
}

.calendar-table-column {
	font-family: 'Karla';
	width:13vw;
	height: 10vh;
	font-size: 6vw;
	vertical-align: middle;
}